<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= paginate @users %>
<%= page_entries_info @users %>

<ul class="users">
  <%= render @users %>
</ul>

<%= paginate @users %>
<%= page_entries_info @users %>
